<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Canal Laureate</title>

	
</head>
<body class="page-red">
	<header align="center" style="margin-left: 25%; background-color:#751aff; width: 50%; height: 150px; " >
		<span style="text-align: center" ><font size="10" color="white">Canal Laureate</font></span>
	</header>
	<nav aria-hidden="true" class="menu" id="doc_menu" tabindex="-1">
		
	</nav>
	<main class="content">
		<div align="center" style="margin-top:25px; " class="content-heading" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
						<h1 class="heading"> Canal Laureate en YouTube
							<h3><small>Creado por Damary Villatoro, Entrega 18/07/2017</h3> </small>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container" style="margin-top: 50px">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
					<section class="content-inner margin-top-no">
						<div class="card">
							<div class="card-main" >
								<div class="card-inner" style="margin-bottom: 50px">
										<div align="center" class="form-group form-group-label form-group-brand">
											<label for="id_search"><b>Nombre del video</b></label>
											<input class="form-control" id="id_search" type="text" placeholder="Nombre del video">
											<div align="center"><a class="btn btn-primary btn-lg" href="javascript:busqueda();" > Buscar </a>&nbsp;&nbsp;
												<a href="javascript:limpiar();" class="btn btn-red waves-attach waves-button waves-light"> Limpiar </a></div>
										</div>
										
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>

			<div class="row">
				<div align="center" class="col-lg-12 col-md-12 col-sm-12">
					<section style="" class="content-inner margin-top-no" id="video-cuadros">
						{% block videos %}

						{% endblock %}
					</section>
				</div>
			</div>
			
		</div>
	</main>
	<footer class="footer">
		<div align="center" class="container">
			<a href="https://es-la.facebook.com/Laureate/" target="_blank" ><strong>Búesquenos en Facebook LAUREATE</strong></a href="https://es-la.facebook.com/Laureate/" >
		</div> 
	</footer>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/base.min.js"></script>

	<!-- js for doc -->
	<script src="/js/project.min.js"></script>
	{% block extrajs %}

	{% endblock %}
</body>
</html>