{% extends "base.html" %}

{% block videos %}

    <ul id="videolists">

    </ul>
{% endblock %}

{% block extrajs %}
  <!-- Scripts de java -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript">
  var obj;
  function obtienevideos(){
    $.ajax({
          type: "GET",
          data:
            {
              part:'snippet',
              channelId: 'UCvS6-K6Ydmb4gH-kim3AmjA',
              maxResults: '3',
              order: 'rating',
              type: 'video',
              key: 'AIzaSyBAsfhObPRYfo8-MYP7LyzDbykLvXT9O0Y',
              videoDefinition: 'high'
            },
          url: "https://www.googleapis.com/youtube/v3/search",
          success: function(data)
          {
            cuadros(data);
          }
        });
  }

  function htmlcuadros(i,description){
    $("#video-cuadros").append(
          '<div align="center">'+
            '<div class="card-img-top">'+
              '<div class="card-main">'+
                '<div class="card-header">'+
                  '<div class="card-inner">'+
                    '<span><a target="_blank" href="https://www.youtube.com/watch?v='+obj.items[i].id["videoId"]+' title="'+obj.items[i].snippet["title"]+'">'+obj.items[i].snippet["title"].substring(0,150)+'...</a></span>'+
                  '</div>'+
                '</div>'+
                '<div class="card-img">'+
                  '<a target="_blank" href="https://www.youtube.com/watch?v='+obj.items[i].id["videoId"]+' title="'+obj.items[i].snippet["title"]+'">'+
                    '<img alt="alt text" src="'+obj.items[i].snippet["thumbnails"]['high']['url']+'" style="width: 25%;">'+
                  '</a>'+
                  '<p class="card-img-heading"><strong>Canal Laureate</strong></p>'+
                '</div>'+
                '<div class="card-inner">'+
                  '<p>'+
                    description+
                  '</p>'+
                '</div>'+
              '</div>'+
            '</div>'+
        '</div>'+
        '<hr>')

  }

  function cuadros(data, videoname){
      obj = data;

      for (var i = 0; i < obj.items.length; i++) {
        var description=obj.items[i].snippet["description"].substring(0,30)+'...';
        if (description == '...'){
          description=obj.items[i].snippet["title"].substring(0,30);
        }

        if (videoname == undefined){
          htmlcuadros(i,description);
        }else if(obj.items[i].snippet["title"].toLowerCase().indexOf(videoname.toLowerCase()) != -1){
          htmlcuadros(i,description);
        }
        //$(".card-img").html('<img src="' + obj.items[i].snippet["thumbnails"]['medium']['url'] + '" width="100%"></img>')
      };
  }

  $("#id_search").on('change', function(){
    $("#video-cuadro").empty();
    search();
  })

  function busqueda(){
    $("#video-cuadros").empty();
    var videoname=$("#id_search").val()
    cuadros(obj,videoname.trim());
  }

  function limpiar(){
    $("#id_search").val('');
    $("#video-cuadros").empty();
    cuadros(obj);
  }

  obtienevideos();

  </script>
{% endblock %}
